In [81]:
import pandas as pd
import numpy as np
df = pd.read_csv('gurgaon_properties_cleaned_v1.csv')

In [2]:
df.head()

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,signature global park 4,sector 36,0.82,7585.0,1081.0,Super Built up area 1081(100.43 sq.m.)Carpet a...,3,2,2,not available,2.0,NaN,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'The Leaf Mall ...",NaN,"['Lift(s)', 'Park']"
1,flat,smart world gems,sector 89,0.95,8600.0,1105.0,Carpet area: 1103 (102.47 sq.m.),2,2,2,"study room,servant room",4.0,NaN,Within 6 months,"['Sant Soordas Sihi Metro Station', 'Airia Mal...",NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s..."
2,flat,pyramid elite,sector 86,0.46,79.0,58228.0,Carpet area: 58141 (5401.48 sq.m.),2,2,1,not available,0.0,NaN,Under Construction,"['V3S Sapphire Ninety Mall', 'Sector 86 Road',...",[],"['Intercom Facility', 'Lift(s)', 'Park']"
3,flat,breez global hill view,sohna road,0.32,5470.0,585.0,Built Up area: 1000 (92.9 sq.m.)Carpet area: 5...,2,2,1,not available,17.0,NaN,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",[],"['Feng Shui / Vaastu Compliant', 'Security / F..."
4,flat,bestech park view sanskruti,sector 92,1.60,8020.0,1995.0,Super Built up area 1995(185.34 sq.m.)Built Up...,3,4,3+,"servant room,others",10.0,North-West,1 to 5 Year Old,"['Sapphire 93 Mall', 'Dwarka Expressway', 'NH-...","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'..."

In [26]:
temp = df['areaWithType'].str.extract(r'Super Built up area (\d+)\(\d+\.\d+ sq.m.\)')[0]
temp = temp[~temp.isnull()]
super = round(temp.astype(float)*0.092903,2)

In [37]:
temp2 = df['areaWithType'].str.extract(r'Built Up area: (\d+)')[0].astype(float)
temp2 = temp2[~temp2.isnull()]
temp2

3       1000.0
4       1615.0
11      2360.0
15       846.0
17      1638.0
         ...
3775    1186.0
3777     500.0
3796     940.0
3797     480.0
3802    1845.0
Name: 0, Length: 1187, dtype: float64

In [44]:
df['study_room'] = df['additionalRoom'].str.extract(r'(study room)')[0].str.replace(r'study room','Yes',regex=True).fillna('No')

In [50]:
df['servat_room'] = df['additionalRoom'].str.extract(r'(servant room)')[0].str.replace(r'servant room','Yes',regex=True).fillna('No')
df['pooja_room'] = df['additionalRoom'].str.extract(r'(pooja room)')[0].str.replace(r'pooja room','Yes',regex=True).fillna('No')
df['store_room'] = df['additionalRoom'].str.extract(r'(store room)')[0].str.replace(r'store room','Yes',regex=True).fillna('No')
df['other_room'] = df['additionalRoom'].str.extract(r'(others)')[0].str.replace(r'others','Yes',regex=True).fillna('No')

In [53]:
df.iloc[:,5:]

,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,study_room,servat_room,pooja_room,store_room,other_room
0,1081.0,Super Built up area 1081(100.43 sq.m.)Carpet a...,3,2,2,not available,2.0,NaN,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'The Leaf Mall ...",NaN,"['Lift(s)', 'Park']",No,No,No,No,No
1,1105.0,Carpet area: 1103 (102.47 sq.m.),2,2,2,"study room,servant room",4.0,NaN,Within 6 months,"['Sant Soordas Sihi Metro Station', 'Airia Mal...",NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s...",Yes,Yes,No,No,No
2,58228.0,Carpet area: 58141 (5401.48 sq.m.),2,2,1,not available,0.0,NaN,Under Construction,"['V3S Sapphire Ninety Mall', 'Sector 86 Road',...",[],"['Intercom Facility', 'Lift(s)', 'Park']",No,No,No,No,No
3,585.0,Built Up area: 1000 (92.9 sq.m.)Carpet area: 5...,2,2,1,not available,17.0,NaN,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",[],"['Feng Shui / Vaastu Compliant', 'Security / F...",No,No,No,No,No
4,1995.0,Super Built up area 1995(185.34 sq.m.)Built Up...,3,4,3+,"servant room,others",10.0,North-West,1 to 5 Year Old,"['Sapphire 93 Mall', 'Dwarka Expressway', 'NH-...","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...",No,Yes,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3798,583.0,Super Built up area 583(54.16 sq.m.)Carpet are...,2,2,1,not available,5.0,North-West,1 to 5 Year Old,"['Dwarka Expressway', 'RPS International Schoo...",[],"['Security / Fire Alarm', 'Power Back-up', 'Fe...",No,No,No,No,No
3799,6228.0,Plot area 692(578.6 sq.m.),5,5,3+,"pooja room,study room,servant room,store room",2.0,South-West,1 to 5 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",NaN,"['Water purifier', 'Centrally Air Conditioned'...",Yes,Yes,Yes,Yes,No
3800,735.0,Super Built up area 735(68.28 sq.m.),1,1,1,not available,5.0,North-East,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","['1 Wardrobe', '2 Fan', '1 Exhaust Fan', '1 Ge...","['Power Back-up', 'Intercom Facility', 'Lift(s...",No,No,No,No,No
3801,5490.0,Plot area 610(510.04 sq.m.),5,6,3,"pooja room,study room,servant room,store room",3.0,East,5 to 10 Year Old,"['Iffco chowk metro station', 'Huda city centr...",[],"['Private Garden / Terrace', 'Water purifier',...",Yes,Yes,Yes,Yes,No
3802,1950.0,Super Built up area 1950(181.16 sq.m.)Built Up...,3,3,3+,not available,27.0,South,1 to 5 Year Old,"['Airia Mall', 'Sohna Road', 'Vidyamrat Public...","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...",No,No,No,No,No

In [55]:
df['furnishDetails'].value_counts()

furnishDetails
[]                                                                                                                                                                                                                                                                      421
['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']    199
['1 Modular Kitchen', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']     72
['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']       60
['4 AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']     17
                                                                                                                                                                                                                                                                       ...
['5 Wardrobe', '7 Fan', '1 Exhaust Fan', '5 Geyser', '22 Light', '1 Modular Kitchen', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']          1
['5 Fan', '1 Exhaust Fan', '4 Geyser', '21 Light', '1 Chimney', '1 Modular Kitchen', '4 Wardrobe', 'No AC', 'No Bed', 'No Curtains', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']           1
['2 Wardrobe', '3 Fan', '1 Exhaust Fan', '3 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']         1
['6 Fan', '1 Exhaust Fan', '18 Light', '6 AC', '1 Modular Kitchen', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Geyser', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']         1
['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Geyser', '21 Light', '1 Modular Kitchen', '1 Curtains', '1 Chimney', '5 AC', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']             1
Name: count, Length: 1804, dtype: int64

In [75]:
cols = ['furnishDetails','Light', 'AC', 'Bed', 'Chimney', 'Curtains', 'Dining Table', 'Exhaust Fan', 'Fan', 'Geyser', 'Modular Kitchen', 'Microwave',
'Fridge', 'Sofa', 'Stove', 'TV', 'Wardrobe', 'Washing Machine', 'Water Purifier']

In [71]:
for col in cols:
    df[col] = df['furnishDetails'].str.extract(fr'(\d+)\s(?={col})')[0]

In [62]:
df['furnishDetails'][4]

"['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Geyser', '15 Light', '5 AC', '1 Chimney', '4 Curtains', '1 Modular Kitchen', 'No Bed', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']"

In [80]:
df.loc[:,cols].iloc[3031]

furnishDetails     ['4 Wardrobe', '1 Water Purifier', '6 Fan', '1...
Light                                                             14
AC                                                               NaN
Bed                                                              NaN
Chimney                                                            1
Curtains                                                         NaN
Dining Table                                                     NaN
Exhaust Fan                                                        1
Fan                                                                6
Geyser                                                             4
Modular Kitchen                                                    1
Microwave                                                        NaN
Fridge                                                           NaN
Sofa                                                             NaN
Stove                                                              1
TV                                                               NaN
Wardrobe                                                           4
Washing Machine                                                  NaN
Water Purifier                                                     1
Name: 3031, dtype: object

In [82]:
d

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,signature global park 4,sector 36,0.82,7585.0,1081.0,Super Built up area 1081(100.43 sq.m.)Carpet a...,3,2,2,not available,2.0,NaN,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'The Leaf Mall ...",NaN,"['Lift(s)', 'Park']"
1,flat,smart world gems,sector 89,0.95,8600.0,1105.0,Carpet area: 1103 (102.47 sq.m.),2,2,2,"study room,servant room",4.0,NaN,Within 6 months,"['Sant Soordas Sihi Metro Station', 'Airia Mal...",NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s..."
2,flat,pyramid elite,sector 86,0.46,79.0,58228.0,Carpet area: 58141 (5401.48 sq.m.),2,2,1,not available,0.0,NaN,Under Construction,"['V3S Sapphire Ninety Mall', 'Sector 86 Road',...",[],"['Intercom Facility', 'Lift(s)', 'Park']"
3,flat,breez global hill view,sohna road,0.32,5470.0,585.0,Built Up area: 1000 (92.9 sq.m.)Carpet area: 5...,2,2,1,not available,17.0,NaN,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",[],"['Feng Shui / Vaastu Compliant', 'Security / F..."
4,flat,bestech park view sanskruti,sector 92,1.60,8020.0,1995.0,Super Built up area 1995(185.34 sq.m.)Built Up...,3,4,3+,"servant room,others",10.0,North-West,1 to 5 Year Old,"['Sapphire 93 Mall', 'Dwarka Expressway', 'NH-...","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3798,flat,pivotal devaan,sector 84,0.37,6346.0,583.0,Super Built up area 583(54.16 sq.m.)Carpet are...,2,2,1,not available,5.0,North-West,1 to 5 Year Old,"['Dwarka Expressway', 'RPS International Schoo...",[],"['Security / Fire Alarm', 'Power Back-up', 'Fe..."
3799,house,international city by sobha phase 1,sector 109,6.00,9634.0,6228.0,Plot area 692(578.6 sq.m.),5,5,3+,"pooja room,study room,servant room,store room",2.0,South-West,1 to 5 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",NaN,"['Water purifier', 'Centrally Air Conditioned'..."
3800,flat,ansal api celebrity suites,sector 2,0.60,8163.0,735.0,Super Built up area 735(68.28 sq.m.),1,1,1,not available,5.0,North-East,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","['1 Wardrobe', '2 Fan', '1 Exhaust Fan', '1 Ge...","['Power Back-up', 'Intercom Facility', 'Lift(s..."
3801,house,independent,sector 43,15.50,28233.0,5490.0,Plot area 610(510.04 sq.m.),5,6,3,"pooja room,study room,servant room,store room",3.0,East,5 to 10 Year Old,"['Iffco chowk metro station', 'Huda city centr...",[],"['Private Garden / Terrace', 'Water purifier',..."
3802,flat,m3m ikonic,sector 68,1.78,9128.0,1950.0,Super Built up area 1950(181.16 sq.m.)Built Up...,3,3,3+,not available,27.0,South,1 to 5 Year Old,"['Airia Mall', 'Sohna Road', 'Vidyamrat Public...","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe..."

In [100]:
df2 =  pd.read_csv('../Data/appartments.csv')
df2.columns

Index(['PropertyName', 'PropertySubName', 'NearbyLocations',
       'LocationAdvantages', 'Link', 'PriceDetails', 'TopFacilities'],
      dtype='object')

In [102]:
temp = df[df['features'].isnull()]
temp.shape

(635, 17)

In [105]:
df2['PropertyName']=df2['PropertyName'].str.lower()

In [110]:
x = temp.merge(df2,how='left',left_on='society',right_on='PropertyName')
val = x[['TopFacilities']].values

In [112]:
df.loc[temp.index,['features']] = val

In [113]:
df.loc[temp.index,['features']]

                                               features
11                                                  NaN
22    ['Swimming Pool', 'School', 'ATM', 'Aerobics C...
23    ['Mini Theatre', 'Foosball', 'Swimming Pool', ...
27                                                  NaN
28                                                  NaN
...                                                 ...
3774                                                NaN
3780                                                NaN
3782  ['School', 'High Speed Elevators', 'Creche/Day...
3783                                                NaN
3797                                                NaN

[635 rows x 1 columns]

In [115]:
df['features'].isnull().sum()

481